main, h1, p{ 
  padding: 1em;
  color: orangered; 
}

html{
  background-color: blanchedalmond;
}

img, nav li {
  box-shadow: 10px 5px 5px grey;
}

li{
  list-style-type: none;
}

img{
  border-radius: 30px;
}

img{
  height: 10rem;
  width: auto;
  
}

main p{
  background-color: blanchedalmond;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: blanchedalmond;
}

footer{
  border: thin solid black;
}
